@font-face{
    font-family: Zenter;
    src: url(./fonts/ZenterSPDemo-Black.otf);
}
@font-face {
    font-family: Gothic;
    src: url(./fonts/Gothic60-Regular.otf);
}
@font-face {
    font-family: Gropled;
    src: url(./fonts/Gropled-Bold.otf);
}
body{
    width: 100%;
    margin: 0;
}
.header{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 40px 100px;
    grid-template-areas: "top top top"
                         "both1 both2 both3";
}
.top{
    grid-area: top;
    background-color: rgb(17, 17, 17);
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: center;
}
.both1{
    grid-area: both1;
    background-color: rgb(255, 242, 226);
    height: 100%;
    width: 100%;
}
.both2{
    grid-area: both2;
    background-color: rgb(255, 242, 226);
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.both3{
    grid-area: both3;
    background-color: rgb(255, 242, 226);
    height: 100%;
    width: 100%;
}
.scrol{
    display: inline-flex;
    animation: scrolling 5s linear 0s infinite;
    white-space: nowrap;
}
.scrol span{
    flex-shrink: 0;
    font-family: Gropled;
    font-size: 1vw;
    color: white;  
    letter-spacing: 2px; 
    padding-right: 40px;
}
.delivery{
    font-family: Gropled;
    font-size: 1vw;
    color: white;  
    letter-spacing: 2px;  
}
@keyframes scrolling{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-20%);
    }
}

.logo {
    font-family: Zenter;
    font-size: 3vw;
    color: black;
    letter-spacing: 2px;
    margin: 0 auto;
}
.topB{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;

}
.BottomB{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
}
.opis {
    font-family: Gropled;
    font-size: 1vw;
    color: rgb(51, 51, 51);
    letter-spacing: 2px;
    margin: 0 auto;
}

@media(max-width: 500px)and (min-width:300px){
    .header{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 25px 40px;
    grid-template-areas: "top top top"
                         "both1 both2 both3";
}
    .scrol{
    display: inline-flex;
    animation: scrolling 5s linear 0s infinite;
    white-space: nowrap;
}
    .scrol span{
    flex-shrink: 0;
    font-family: Gropled;
    font-size: 2vw;
    color: white;  
    letter-spacing: 2px; 
    padding-right: 20px;
}
.logo {
    font-family: Zenter;
    font-size: 5vw;
    color: rgb(0, 0, 0);
    letter-spacing: 2px;
    margin: 0 auto;
}
.topB{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;

}
.BottomB{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
}
.opis {
    font-family: Gropled;
    font-size: 1.8vw;
    color: rgb(51, 51, 51);
    letter-spacing: 2px;
    margin: 0 auto;
}
}
@media(max-width: 700px)and (min-width:501px){
    .header {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 30px 60px;
        grid-template-areas: "top top top"
            "both1 both2 both3";
    }

    .scrol {
        display: inline-flex;
        animation: scrolling 5s linear 0s infinite;
        white-space: nowrap;
    }

    .scrol span {
        flex-shrink: 0;
        font-family: Gropled;
        font-size: 2vw;
        color: white;
        letter-spacing: 2px;
        padding-right: 20px;
    }
    .logo {
    font-family: Zenter;
    font-size: 5vw;
    color: rgb(0, 0, 0);
    letter-spacing: 2px;
    margin: 0 auto;
    }
    .topB{
        width: 100%;
        height: 70%;
        display: flex;
        align-items: center;

    }
    .BottomB{
        width: 100%;
        height: 30%;
        display: flex;
        align-items: center;
    }
    .opis {
        font-family: Gropled;
        font-size: 1.8vw;
        color: rgb(51, 51, 51);
        letter-spacing: 2px;
        margin: 0 auto;
    }
}
@media(max-width: 900px)and (min-width:701px){
    .header {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 40px 80px;
        grid-template-areas: "top top top"
            "both1 both2 both3";
    }

    .scrol {
        display: inline-flex;
        animation: scrolling 5s linear 0s infinite;
        white-space: nowrap;
    }

    .scrol span {
        flex-shrink: 0;
        font-family: Gropled;
        font-size: 2vw;
        color: white;
        letter-spacing: 2px;
        padding-right: 20px;
    }
    .logo {
font-family: Zenter;
font-size: 5vw;
color: rgb(0, 0, 0);
letter-spacing: 2px;
margin: 0 auto;
}
.topB{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
}
.BottomB{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
}
.opis {
    font-family: Gropled;
    font-size: 1.8vw;
    color: rgb(51, 51, 51);
    letter-spacing: 2px;
    margin: 0 auto;
}
}
@media(max-width: 1300px)and (min-width:901px) {
    .header {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 40px 85px;
        grid-template-areas: "top top top"
            "both1 both2 both3";
    }

    .scrol {
        display: inline-flex;
        animation: scrolling 5s linear 0s infinite;
        white-space: nowrap;
    }

    .scrol span {
        flex-shrink: 0;
        font-family: Gropled;
        font-size: 2vw;
        color: white;
        letter-spacing: 2px;
        padding-right: 20px;
    }
    .logo {
font-family: Zenter;
font-size: 4.5vw;
color: rgb(0, 0, 0);
letter-spacing: 2px;
margin: 0 auto;
}
.topB{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
}
.BottomB{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
}
.opis {
    font-family: Gropled;
    font-size: 1.5vw;
    color: rgb(51, 51, 51);
    letter-spacing: 2px;
    margin: 0 auto;
}
}
